.person{
    background-color: #eeeeee;
}
.person .tabList .heade{
    height: 88px;
    padding: 16px 30px;
}
.person .tabList .heade label{
    line-height: 88px;
}
.person .tabList .heade .btnNext{
    margin-top: 22px;
}
.person .heade .headPortrait{
    display: inline-block;
    height: 88px;
    width: 88px;
    border-radius: 44px;
    float: right;
}

.person  .tabList{
    margin-top: 20px;
    padding-bottom: 150px;
}
.person  .list{
    height: 40px;
    padding: 40px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}

.person  .list label{
    display: inline-block;
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    width: 150px;
}
.person  .list span{
    display: inline-block;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 28px;
    color: #7e7e7e;
    line-height: 40px;
    text-align: right;
    float: right;
}
.person  .bankID{
    margin-bottom: 20px;
}
.person  .list .btnNext{
    display: inline-block;
    width: 36px;
    height: 36px;
    float: right;
    margin-left:30px; 
}

/*postcss-pxtransform weapp eject enable*/
.person  .list text{
    display: inline-block;
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 28px;
    color: #7e7e7e;
    line-height: 40px;
    text-align: right;
    float: right;
}

/*postcss-pxtransform weapp eject disable*/


