.my{
    background-color: #eeeeee;
}
.my .head{
    height: 400px;
    background-color: #ffffff;
}
.my .headTop{
    height: 166px;
    padding: 38px 0 0 30px;
}

.my .headTop img{
    display: inline-block;
    width: 120px;
    height: 120px;
}
.my .infoGo{
    display: inline-block;
    width: 36px;
    height: 36px;
    float: right;
    margin: 40px 30px 0px 0px;

}

.my .infoGo img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.my .nameBox{
    display: inline-block;
    width: 50%;
    height: 120px;
}
.my .nameBox span{
    display: block;
}
.my .name{
    font-size:32px;
    color: #3c3c3c;
    line-height: 45px;
    margin-top: 8px;
}
.my .phone{
    font-size: 24px;
    color: #909090;
    line-height: 33px;
}

.my useHeader{
    float: left;
}
.my .headBottom{
    height: 163px;
    display: flex;
    padding-top: 33px;
}
.my .headList{
    flex: 1;
    font-size: 28px;
    color: #7e7e7e;
    line-height: 44px;
    text-align: center;
}
.my .headList span{
    display: block;
}
.my .headList img{
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.my .listBox{
    margin-top: 30px;
    background-color: #ffffff;
}
.my .list{
    height: 64px;
    padding: 28px 30px;
    display: flex;
}

.my .list .iconImg{
    display: inline-block;
    height: 64px;
    width: 64px;
}
.my .iconImg{
    width: 64px;
    margin-right: 30px;
}
.my .lists{
    flex: 1;
    height: 64px;
    font-size: 28px;
    color: #3c3c3c;
    line-height: 64px;
}
.my .lists .infoGo{
    margin: 8px 0px 0px 0px;
}




